@use '../../../styles/tokens.scss' as theme;
@use '../../../styles/functions';
@use '../../../styles/mixins';

.table {
  max-width: 100%;
  overflow: auto;
  max-height: functions.px-to-rem(900px);

  table {
    position: relative;
    width: 100%;

    thead {
      position: sticky;
      top: 0;
      background-color: var(--color-bg-elevated);

      th {
        text-wrap: nowrap;
        padding: theme.$spacing-2;
        text-align: left;
        font-weight: bold;
        @include mixins.border-bottom;
      }

      th[data-sortable='true'] {
        cursor: pointer;
      }
    }

    tbody {
      tr {
        text-wrap: nowrap;

        td {
          padding: theme.$spacing-2;
          @include mixins.border-bottom;
        }
      }
    }

    tr {
      height: functions.px-to-rem(50px);
    }
  }

  &__header__container {
    display: flex;
    align-items: center;
  }

  &__sort__icon {
    width: theme.$font-size-xl;
    height: theme.$font-size-xl;
  }
}
